# Docker
BASE_VOLUME_DIR=

# MongoDB
MONGODB_ROOT_PASSWORD=

# Postgres
POSTGRES_PASSWORD=

# MySQL
MYSQL_ROOT_PASSWORD=

# RabbitMQ
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=

# Minio
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# Kong
KONG_PG_PASSWORD=

# SonarQube
SONARQUBE_DB_NAME=
SONARQUBE_DB_USER=
SONARQUBE_DB_PASSWORD=

# Prometheus
PROMETHEUS_CONFIG_DIR=./
PROMETHEUS_POSTGRES_PASSWORD=

# InfluxDB
DOCKER_INFLUXDB_INIT_MODE=
DOCKER_INFLUXDB_INIT_ORG=
DOCKER_INFLUXDB_INIT_BUCKET=
DOCKER_INFLUXDB_INIT_USERNAME=
DOCKER_INFLUXDB_INIT_PASSWORD=
DOCKER_INFLUXDB_INIT_RETENTION=
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=

# Odoo
ODOO_POSTGRES_USER=
ODOO_POSTGRES_PASSWORD=
ODOO_USER=
ODOO_PASSWORD=

# Pi-Hole
PIHOLE_WEB_PASSWORD=

# Open WebUI
OPEN_WEBUI_ENABLE_OLLAMA_API=
OPEN_WEBUI_OLLAMA_BASE_URL=
OPEN_WEBUI_SECRET_KEY=
OPEN_WEBUI_ENABLE_IMAGE_GENERATION=
OPEN_WEBUI_AUTOMATIC1111_BASE_URL=
OPEN_WEBUI_IMAGE_GENERATION_ENGINE=
OPEN_WEBUI_IMAGE_GENERATION_MODEL=
OPEN_WEBUI_IMAGE_SIZE=
OPEN_WEBUI_IMAGE_STEPS=
OPEN_WEBUI_AUTOMATIC1111_CFG_SCALE=
OPEN_WEBUI_AUTOMATIC1111_SAMPLER=
OPEN_WEBUI_AUTOMATIC1111_SCHEDULER=

# Stable Diffusion WebUI
SD_WEBUI_API_AUTH_USERNAME=
SD_WEBUI_API_AUTH_KEY=
SD_WEBUI_GRADIO_AUTH_USERNAME=
SD_WEBUI_GRADIO_AUTH_PASSWORD=
IIB_SECRET_KEY=
